:root {
  --font-family: "Helvetica Neue", sans-serif;
  --main: #103931;
  --text: #11101c;
  --white: #fff;
  --nanny: #8a8a89;
  --price: #38cd3e;
}

body {
  font-family: var(--font-family);
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

div,
ul,
ol {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

section {
  padding: 0 32px;
}

.container {
  max-width: 1376px;
  padding-left: 96px;
  padding-right: 96px;
}

/* toaster */

.Toastify__toast {
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #333333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.Toastify__toast--success {
  background: #ffffff;
  border-left: 5px solid #4caf50;
}

.Toastify__toast--error {
  background: #ffffff;
  border-left: 5px solid #ff5252;
}

.Toastify__toast--info {
  background: #ffffff;
  border-left: 5px solid #2196f3;
}

.Toastify__toast--warning {
  background: #ffffff;
  border-left: 5px solid #ff9800;
}

.Toastify__progress-bar {
  background: #ff5252;
  border-radius: 10px;
}

/* tailwind */
@layer components {
  /* MODALS */
  .text-custom {
    @apply font-sans font-normal text-[16px] leading-[1.25] tracking-[-0.01em] text-[#fbfbfb];
  }

  .text-title {
    @apply font-sans font-medium text-[40px] leading-[1.2] tracking-[-0.02em] text-[#11101c];
  }

  .text-subtitle {
    @apply font-sans font-normal text-[16px] leading-[1.25] text-[rgba(17,16,28,0.5)];
  }

  .input {
    @apply border border-[rgba(17,16,28,0.1)] rounded-[12px] px-[18px] py-[16px] w-[438px] h-[52px];
  }

  .input-text {
    @apply font-sans font-normal text-[16px] leading-[1.25] text-[#11101c];
  }
  /* WELCOME */
  .welcome-title {
    @apply font-sans font-medium text-[70px] leading-[1] tracking-[-0.03em] text-[#fbfbfb];
  }

  .welcome-sub {
    @apply font-sans font-normal text-[28px] leading-[1.07] tracking-[-0.02em] text-[#fbfbfb];
  }

  .welcome-btn {
    @apply border border-[rgba(251,251,251,0.4)] rounded-[30px] pl-[50px] py-[18px] w-[230px] h-[60px];
  }

  .welcome-btn-text {
    @apply font-sans font-medium text-[20px] leading-[1.2] tracking-[-0.01em] text-[#fbfbfb];
  }

  .welcome-right-text {
    @apply font-bold text-[24px] text-[#11101c];
  }

  /* HEADER */
  .header-text {
    @apply font-sans font-normal text-[16px] leading-[1.25] tracking-[-0.01em] text-[#fbfbfb];
  }

  .authNavBtn {
    @apply w-32 border border-white/40 rounded-3xl px-6 py-3 text-white leading-[1.25] hover:bg-white hover:text-main transition;
  }
}
